img {
  float: right;
  padding-left: 35px;
}

.sidebar {
  width: 30%;
  float: left;
  background-color: pink;
  padding-top: 20px;
  border-width: 5px;
}
.music {
  text-align: left;
}

.gif {
  padding-top: 15px;
  float: left;
}

.middle {
  float: right;
  padding-top: 20px;
}

body {
  color: black;
  text-align: center;
  background-image: url("https://i.redd.it/c0p7l5ig4ngx.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
